@media (max-width: 600px) {
    .h1 { font-size: 50px;
  
    }
    .h2 {
      font-size: 30px;
    }
    .imgnosotros, .pnosotros {
  width: 100%;
    }
    .video1,.video2,.video3 {
      width: 100%;
    }
  
  
  }