.h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Bodoni Italic', arial;
      text-align: center;
      margin: 0;
      margin-bottom: 0;
      margin-top: 3rem;
      color: #999999;
  }
  .h2{
    font-family: 'Bodoni BoldItalic Cyrillic', arial;
    display: flex;
    flex-direction: column;
      text-align: start;
      margin-left: 50%;
      margin-bottom: 6rem;
      margin-top: 0;
      font-style: italic;
      color: #999999;
      font-size: 70px;
  }
 